Import Pandas

In [2]:
import pandas as pd

In [10]:
bills = pd.read_csv("DATA\Historical-transaction-data.csv")
bills.head(10)

,item_description,transaction_date,invoice_id,customer_id,shop_id,item_price,quantity_sold
0,ORANGE BARLEY 1.5L,2021-12-11T00:00:00.000Z,147.0,BGXA,SHOP008,220,2
1,GINGER BEER 1.5L,2021-10-17T00:00:00.000Z,371.0,IA25,SHOP112,220,2
2,TONIC PET 500ML,2021-12-13T00:00:00.000Z,484.0,VN7V,SHOP008,160,2
3,CREAM SODA 1L,2021-12-13T00:00:00.000Z,484.0,VN7V,SHOP008,150,2
4,STRAWBERRY MILK 180ML,2021-10-23T00:00:00.000Z,1310.0,7S00,SHOP112,210,5
5,CREAM SODA 1L,2021-10-30T00:00:00.000Z,1624.0,KZB3,SHOP055,150,2
6,CREAM SODA 1.5L,2021-10-28T00:00:00.000Z,2024.0,0PDI,SHOP112,220,2
7,TWISTEE APPLE 1L,2021-10-31T00:00:00.000Z,2521.0,7OPC,SHOP112,270,2
8,FIT O MIXED FRUIT 200ML,2021-11-04T00:00:00.000Z,3223.0,ETXL,SHOP112,60,2
9,SODA PET 1.5L,2021-11-08T00:00:00.000Z,3555.0,JSGV,SHOP055,160,2

In [4]:
bills.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473974 entries, 0 to 473973
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   item_description  438046 non-null  object
 1   transaction_date  473974 non-null  object
 2   invoice_id        467654 non-null  float64
 3   customer_id       473974 non-null  object
 4   shop_id           473974 non-null  object
 5   item_price        473974 non-null  int64
 6   quantity_sold     473974 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 25.3+ MB

In [7]:
shops = pd.read_csv("DATA\Store-info.csv")
test = pd.read_csv("DATA\Testing-data.csv")

In [ ]:
shops

In [ ]:
test

In [14]:
bills.groupby(by="shop_id")